@use '@angular/material' as mat;
// @use './responsive.scss' as *;

:root {
  --bs-transparent: none;
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff7851;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #69aa8a;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #888;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #f7f7f9;
  --bs-gray-300: #eceeef;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #aaa;
  --bs-gray-600: #888;
  --bs-gray-700: #5a5a5a;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #69aa8a;
  --bs-secondary: #6c757d;
  --bs-success: #69aa8a;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #ff7851;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-primary-rgb: to-rgb(#69aa8a);
  --bs-secondary-rgb: to-rgb(#6c757d);
  --bs-success-rgb: to-rgb(#69aa8a);
  --bs-info-rgb: to-rgb(#17a2b8);
  --bs-warning-rgb: to-rgb(#ffc107);
  --bs-danger-rgb: to-rgb(#ff7851);
  --bs-light-rgb: to-rgb(#f8f9fa);
  --bs-dark-rgb: to-rgb(#343a40);
  --bs-brand-rgb: to-rgb(#69aa8a);
  --bs-blue-rgb: to-rgb(#007bff);
  --bs-indigo-rgb: to-rgb(#6610f2);
  --bs-purple-rgb: to-rgb(#6f42c1);
  --bs-pink-rgb: to-rgb(#e83e8c);
  --bs-red-rgb: to-rgb(#ff7851);
  --bs-orange-rgb: to-rgb(#fd7e14);
  --bs-yellow-rgb: to-rgb(#ffc107);
  --bs-green-rgb: to-rgb(#69aa8a);
  --bs-teal-rgb: to-rgb(#20c997);
  --bs-cyan-rgb: to-rgb(#17a2b8);
}

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

//  ----------------- common styles ------------------------
.mid-spacer {
  flex-grow: 1;
}

.footer,
.mat-toolbar-single-row {
  z-index: 100;
}

//  ----------------- Layout ------------------------
.mat-drawer-container {
  height: calc(100% - 90px);
}

.mat-drawer-content {
  padding: 15px;
}

// --------------- Sidebar and  menu -------------

.mat-drawer-side {
  background: var(--bs-primary);
  width: 230px;
  border-radius: 0 !important;
  // padding: 5px 0px 10px;
}

.mdc-list {
  padding: 0 !important;
  .mdc-list-item {
    padding: 0 10px !important;
    height: 40px !important;

    &__primary-text {
      display: flex !important;
      align-items: center !important;
      font-size: .9rem !important;

      .mat-icon {
        padding-right: 6px;
      }

    }

    &:hover {
      border-radius: 0 !important;
    }
  }
}

.mat-expansion-panel {
  background-color: var(--bs-transparent) !important;
  box-shadow: var(--bs-transparent) !important;
  &-header {
    padding:0 10px !important;
    height: 2.5rem !important;
    &-title {
      font-size: .8rem;
      span {
        padding-left: 5px;
      }
    }
  }
  &-body {
    padding: 0 10px !important;
  }
  &-spacing {
    margin: 0 !important;
  }
}



// --------------- login -------------
.login-page {
  height: 100vh;
  width: 100%;
  background: var(--bs-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h2 {
    font-size: 24px;
  }

  .mat-mdc-raised-button {
    background: var(--bs-blue) !important;
    width: 100%;
    border-radius: 5px;
    color: var(--bs-white) !important;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  mat-card {
    min-width: 400px;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    border-radius: 5px !important;
    background-color: var(--bs-white);
    box-shadow: 0px 8px 8px var(--bs-dark);
  }

  .mat-mdc-card-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    h2 {
      color: var(--bs-blue);
      font-weight: 500;
      display: block;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}

// --------------- form fields -------------
.mat-mdc-form-field{

  .mdc-text-field--outlined {
  padding:0 12px  !important;
  .mat-mdc-form-field-infix{
    padding: 12px 0 !important;
    min-height: 30px !important
  }  
}
.mat-mdc-form-field-error-wrapper {
  padding: 0 4px !important;
}
}



// --------------- Grid value -------------

.grid-1-col {
  display: grid;
  grid-template-columns:  minmax(300px, 1fr);
  gap:10px;
}